<div class="row">
  <div class="container">
    <div class="panel panel-default">
      <div class= "panel-body">
        <div class="text-center">
          <h1 class="display-1 font-weight-light">
            <%= @post.title %>
          </h1>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class= "panel-body">
        <div class="text-center font-weight-light">
          <%= @post.story %>
        </div>
      </div>
    </div>

  </div>
</div>
